.Seat {
     background-color: #4FC3F7;
     height: 35px;
     width: 35px;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     -webkit-border-top-left-radius: 10px;
     -webkit-border-top-right-radius: 10px;
 }


 .Seat--enabled {
     cursor: pointer;
     &:hover { background-color: #03A9F4; }
 }

 .Seat--selected {
     cursor: pointer;
     background-color: #4CAF50;
 }

 .Seat--reserved {
     cursor: not-allowed;
     background-color: #E0E0E0;
 }
